.body--light {
    background-color: $white !important;
    color: $black !important;

    .logo__plexus {
        filter: invert(1);
    }

    .button {
        color: $black;
    }

    .member__article {
        border-color: $black !important;
    }
}