body {
    background-color: $black;
    color: $white;
    transition: 0.25s ease-in-out;

    &Menu--open {
        overflow: hidden;
    }
}

a,
button {
    cursor: pointer;
    transition: all 0.25s ease-in-out;
}