.body--light {
    background-color: $white !important;
    color: $black !important;

    .header {
        background-color: $white !important;

        &__item--logo {
            filter: invert(1);
        }

        .menu__burger {
            span {
                background: $black;
            }

            &--open {
                span {
                    background: $white;
                }
            }
        }
    }

    .alert {
        &__container {
            background-color: $white;
            border: 1px solid $black;
        }
    }

    .logo__plexus,
    .logo__lines {
        filter: invert(1);
    }

    .button {
        border-color: $black;
        color: $black;
        background-color: $white;

        &:before {
            background-color: $black;
        }

        &:hover,
        &:focus,
        &:active {
            color: $white;
        }

    }

    .caption {

        .title>a {
            color: $black;
        }

        &__button {
            color: $black;

            .icon--arrow-right {
                color: $black;
            }
        }
    }

    .captions__list {
        background-image: url('./../img/accueil/illustration_accueil_light_1.png'),
            url('./../img/accueil/illustration_accueil_light_2.png'),
            url('./../img/accueil/illustration_accueil_light_3.png'),
            url('./../img/accueil/illustration_accueil_light_4.png');

        @include large {
            .caption {
                &::after {
                    background: $black !important;
                }
            }
        }
    }

    .agency {
        background-color: $white;

        &__image {
            background-image: url('./../img/agence/equipe_agence_plexus_light.png');
        }
    }

    .projects {

        &__item {

            &:nth-child(odd) {
                border-top: 1px solid $black;
                border-bottom: 1px solid $black;
            }

            &:nth-child(even) {
                border-bottom: 1px solid $black;
            }
        }

        &__link {
            color: $black;

            @include medium {
                color: transparent;
                -webkit-text-stroke: 1px $black;
            }
        }

        &__image {
            box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
        }

        .repeat {
            color: $black;
            mix-blend-mode: inherit;
        }
    }

    .contact {

        &__form {

            input,
            textarea {
                color: $black !important;
            }

            .form__field {
                box-shadow: -7px 7px $black !important;
                border-color: $black !important;
                color: $black !important;
                background-color: $white;

                &:focus {
                    box-shadow: -7px 7px $beige !important;
                }
            }

            .form__submit {
                color: $black !important;
                background-color: $white !important;

                &:hover {
                    color: $white !important;
                    background-color: $black !important;
                    box-shadow: -7px 7px $beige !important;
                }
            }
        }

        &__address {
            a {
                color: $black;
            }

            @include large {
                border-color: $black;
            }
        }
    }

    .legal {
        &__article {
            a {
                color: $black;
            }
        }
    }
}