.member {
    height: calc(100vh - 95px);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;

    &__article {
        border-left: 1px solid $white;
        padding-left: 50px;
        margin: 0 50px;
        width: 500px;
    }

    &__title {
        font-size: 2rem;
        font-weight: 800;
    }

    &__subtitle {
        font-family: $serif-font;
        font-size: 1.5rem;
        font-style: italic;
        margin: 15px 0;
    }

    &__description {
        text-align: justify;
    }
}