/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

body { line-height: 1; }

ol, ul { list-style: none; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }

table { border-collapse: collapse; border-spacing: 0; }

@font-face { font-family: Raleway-Light; src: url("./../fonts/Raleway-Light.woff") format("woff"), url("./../fonts/Raleway-Light.woff2") format("woff2"); font-weight: normal; font-style: normal; }

@font-face { font-family: Raleway-SemiBold; src: url("./../fonts/Raleway-SemiBold.woff") format("woff"), url("./../fonts/Raleway-SemiBold.woff2") format("woff2"); font-weight: normal; font-style: normal; }

@font-face { font-family: CrimsonText-Regular; src: url("./../fonts/CrimsonText-Regular.woff") format("woff"), url("./../fonts/CrimsonText-Regular.woff2") format("woff2"); font-weight: normal; font-style: normal; }

@font-face { font-family: CrimsonText-Italic; src: url("./../fonts/CrimsonText-Italic.woff") format("woff"), url("./../fonts/CrimsonText-Italic.woff2") format("woff2"); font-weight: normal; font-style: normal; }

@font-face { font-family: Linearicons-Free; src: url("./../fonts/Linearicons-Free.woff") format("woff"), url("./../fonts/Linearicons-Free.woff2") format("woff2"); font-weight: normal; font-style: normal; }

*, *:after, *:before { box-sizing: border-box; }

img { max-width: 100%; height: auto; }

body { font-family: "Raleway-Light", sans-serif; }

a { text-decoration: none; color: #ffffff; }

p { line-height: 1.5rem; }

.icon { font-family: "Linearicons-Free"; speak: none; font-variant: normal; text-transform: none; line-height: 1; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

.icon--sun::before { content: "\e807"; }

.icon--moon::before { content: "\e808"; }

.icon--menu::before { content: "\e871"; }

input, select, textarea, button { font-family: inherit; }

body { background-color: #000000; color: #ffffff; transition: 0.25s ease-in-out; }

a, button { cursor: pointer; transition: all 0.25s ease-in-out; }

@keyframes move { 0% { transform: translate(0px, 0px); }
  20% { transform: translate(-5px, 5px); }
  40% { transform: translate(0px, 0px); }
  60% { transform: translate(5px, -5px); }
  80% { transform: translate(0px, 0px); }
  100% { transform: translate(-5px, 5px); } }

@keyframes fadeUp { from { opacity: 0;
    transform: translateY(30px); }
  to { opacity: 1;
    transform: translateY(0); } }

.loading-screen { position: relative; padding-left: 0; padding-right: 0; padding-top: 0; background-color: black; width: 0%; height: 100%; }

.load-container { position: fixed; top: 0; left: 0; width: 100%; height: 100vh; overflow: hidden; z-index: 1000; pointer-events: none; }

.body--light { background-color: #ffffff !important; color: #000000 !important; }

.body--light .logo__plexus { filter: invert(1); }

.body--light .button { color: #000000; }

.body--light .member__article { border-color: #000000 !important; }

.body--light .form input, .body--light .form textarea { color: #000000 !important; }

.body--light .form__field { box-shadow: -10px 10px #000000 !important; border-color: #000000 !important; color: #000000 !important; background-color: #ffffff; }

.body--light .form__field:focus { box-shadow: -10px 10px #c4c4ac !important; }

.body--light .form__submit { color: #000000 !important; background-color: #ffffff !important; }

.body--light .form__submit:hover { color: #ffffff !important; background-color: #000000 !important; box-shadow: -10px 10px #c4c4ac !important; }

.preloader { height: 100vh; width: 100vw; background-color: #ffffff; top: 0; left: 0; overflow: hidden; position: fixed; z-index: 9999; }

.preloader__overlay { height: 100%; width: 100%; background-color: #000000; top: 0; left: 0; pointer-events: none; transform: translateY(-100%); position: absolute; z-index: 2; }

.preloader__container { display: none; flex-direction: column; justify-content: center; align-items: center; height: 100vh; width: 100vw; z-index: 3; }

.preloader__letters { display: flex; margin-right: auto; margin-left: auto; height: auto; }

.preloader__letters svg#left, .preloader__letters svg#right { width: 150px; height: 150px; }

.preloader__letters div#x { margin: 0 -30px; width: 150px; height: 150px; }

.preloader__animation { background-color: black; height: 100%; transform: translateX(-100%); position: fixed; top: 0; width: 100%; z-index: 9000; }

.preloader #left, .preloader #right { width: 150px; height: 150px; fill: black; }

@media screen and (max-width: 992px) { .opreloader__overlay { height: 100%; width: 100%; top: 0; left: 0; background-color: #000000; pointer-events: none; position: absolute; transform: translateY(-100%); } }

.header { background-color: #000000; padding: 20px; transition: 0.25s ease-in-out; }

.header__item--logo { width: 150px; }

.header__list { display: flex; justify-content: space-between; align-items: center; }

.header__switcher { display: flex; }

.header__switcher .switcher__icon { font-size: 1.5rem; margin: 0 10px; }

.header__switcher .switcher__dark--text, .header__switcher .switcher__light--text { opacity: 0; transform: translateY(5px); transition: 0.25s ease-in-out; }

.header__switcher .switcher__dark:hover .switcher__dark--text, .header__switcher .switcher__light:hover .switcher__light--text { opacity: 1; transform: translateY(0); }

.header__switcher .switcher__dark, .header__switcher .switcher__light { display: flex; align-items: center; color: #c4c4ac; cursor: pointer; }

.header__item--menu { font-size: 2rem; color: #c4c4ac; }

.header:hover { background-color: #ffffff; }

.header:hover .header__item--logo { filter: invert(1); }

.body--home .header__list { justify-content: center; }

main { height: calc(100vh - 95px); display: flex; justify-content: center; align-items: center; background-image: url("./../img/background.png"); background-size: contain; background-repeat: no-repeat; width: 100%; }

.logo__plexus { height: 125px; }

.caption { position: absolute; max-width: 400px; animation: move 3s linear infinite alternate; }

.caption:first-child::after { content: ""; position: absolute; background: #ffffff; height: 1px; width: 90%; bottom: -50px; left: 40%; transform: translateX(-50%); transform: rotate(20deg); }

.caption:nth-child(2)::after { content: ""; position: absolute; background: #ffffff; height: 1px; width: 90%; bottom: -50px; right: 40%; transform: translateX(-50%); transform: rotate(-20deg); }

.caption:nth-child(3)::before { content: ""; position: absolute; background: #ffffff; height: 1px; width: 90%; top: -50px; left: 40%; transform: translateX(-50%); transform: rotate(-20deg); }

.caption:last-of-type::before { content: ""; position: absolute; background: #ffffff; height: 1px; width: 90%; top: -50px; right: 40%; transform: translateX(-50%); transform: rotate(20deg); }

.caption__pretitle { font-family: "CrimsonText-Italic", serif; font-size: 1.5rem; }

.caption__title { font-family: "Raleway-SemiBold"; font-size: 2rem; padding: 10px 0; }

.caption__button { display: inline-flex; font-family: "CrimsonText-Regular", serif; font-size: 1.5rem; margin-top: 10px; }

.caption--agency { top: 150px; left: 100px; }

.caption--members { top: 150px; right: 100px; }

.caption--projects { bottom: 150px; left: 100px; }

.caption--contact { bottom: 150px; right: 100px; }

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

body { line-height: 1; }

ol, ul { list-style: none; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }

table { border-collapse: collapse; border-spacing: 0; }

@font-face { font-family: Raleway-Light; src: url("./../fonts/Raleway-Light.woff") format("woff"), url("./../fonts/Raleway-Light.woff2") format("woff2"); font-weight: normal; font-style: normal; }

@font-face { font-family: Raleway-SemiBold; src: url("./../fonts/Raleway-SemiBold.woff") format("woff"), url("./../fonts/Raleway-SemiBold.woff2") format("woff2"); font-weight: normal; font-style: normal; }

@font-face { font-family: CrimsonText-Regular; src: url("./../fonts/CrimsonText-Regular.woff") format("woff"), url("./../fonts/CrimsonText-Regular.woff2") format("woff2"); font-weight: normal; font-style: normal; }

@font-face { font-family: CrimsonText-Italic; src: url("./../fonts/CrimsonText-Italic.woff") format("woff"), url("./../fonts/CrimsonText-Italic.woff2") format("woff2"); font-weight: normal; font-style: normal; }

@font-face { font-family: Linearicons-Free; src: url("./../fonts/Linearicons-Free.woff") format("woff"), url("./../fonts/Linearicons-Free.woff2") format("woff2"); font-weight: normal; font-style: normal; }

*, *:after, *:before { box-sizing: border-box; }

img { max-width: 100%; height: auto; }

body { font-family: "Raleway-Light", sans-serif; }

a { text-decoration: none; color: #ffffff; }

p { line-height: 1.5rem; }

.icon { font-family: "Linearicons-Free"; speak: none; font-variant: normal; text-transform: none; line-height: 1; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

.icon--sun::before { content: "\e807"; }

.icon--moon::before { content: "\e808"; }

.icon--menu::before { content: "\e871"; }

input, select, textarea, button { font-family: inherit; }

body { background-color: #000000; color: #ffffff; transition: 0.25s ease-in-out; }

a, button { cursor: pointer; transition: all 0.25s ease-in-out; }

@keyframes move { 0% { transform: translate(0px, 0px); }
  20% { transform: translate(-5px, 5px); }
  40% { transform: translate(0px, 0px); }
  60% { transform: translate(5px, -5px); }
  80% { transform: translate(0px, 0px); }
  100% { transform: translate(-5px, 5px); } }

@keyframes fadeUp { from { opacity: 0;
    transform: translateY(30px); }
  to { opacity: 1;
    transform: translateY(0); } }

.loading-screen { position: relative; padding-left: 0; padding-right: 0; padding-top: 0; background-color: black; width: 0%; height: 100%; }

.load-container { position: fixed; top: 0; left: 0; width: 100%; height: 100vh; overflow: hidden; z-index: 1000; pointer-events: none; }

.body--light { background-color: #ffffff !important; color: #000000 !important; }

.body--light .logo__plexus { filter: invert(1); }

.body--light .button { color: #000000; }

.body--light .member__article { border-color: #000000 !important; }

.body--light .form input, .body--light .form textarea { color: #000000 !important; }

.body--light .form__field { box-shadow: -10px 10px #000000 !important; border-color: #000000 !important; color: #000000 !important; background-color: #ffffff; }

.body--light .form__field:focus { box-shadow: -10px 10px #c4c4ac !important; }

.body--light .form__submit { color: #000000 !important; background-color: #ffffff !important; }

.body--light .form__submit:hover { color: #ffffff !important; background-color: #000000 !important; box-shadow: -10px 10px #c4c4ac !important; }

.preloader { height: 100vh; width: 100vw; background-color: #ffffff; top: 0; left: 0; overflow: hidden; position: fixed; z-index: 9999; }

.preloader__overlay { height: 100%; width: 100%; background-color: #000000; top: 0; left: 0; pointer-events: none; transform: translateY(-100%); position: absolute; z-index: 2; }

.preloader__container { display: none; flex-direction: column; justify-content: center; align-items: center; height: 100vh; width: 100vw; z-index: 3; }

.preloader__letters { display: flex; margin-right: auto; margin-left: auto; height: auto; }

.preloader__letters svg#left, .preloader__letters svg#right { width: 150px; height: 150px; }

.preloader__letters div#x { margin: 0 -30px; width: 150px; height: 150px; }

.preloader__animation { background-color: black; height: 100%; transform: translateX(-100%); position: fixed; top: 0; width: 100%; z-index: 9000; }

.preloader #left, .preloader #right { width: 150px; height: 150px; fill: black; }

@media screen and (max-width: 992px) { .opreloader__overlay { height: 100%; width: 100%; top: 0; left: 0; background-color: #000000; pointer-events: none; position: absolute; transform: translateY(-100%); } }

.header { background-color: #000000; padding: 20px; transition: 0.25s ease-in-out; }

.header__item--logo { width: 150px; }

.header__list { display: flex; justify-content: space-between; align-items: center; }

.header__switcher { display: flex; }

.header__switcher .switcher__icon { font-size: 1.5rem; margin: 0 10px; }

.header__switcher .switcher__dark--text, .header__switcher .switcher__light--text { opacity: 0; transform: translateY(5px); transition: 0.25s ease-in-out; }

.header__switcher .switcher__dark:hover .switcher__dark--text, .header__switcher .switcher__light:hover .switcher__light--text { opacity: 1; transform: translateY(0); }

.header__switcher .switcher__dark, .header__switcher .switcher__light { display: flex; align-items: center; color: #c4c4ac; cursor: pointer; }

.header__item--menu { font-size: 2rem; color: #c4c4ac; }

.header:hover { background-color: #ffffff; }

.header:hover .header__item--logo { filter: invert(1); }

.body--home .header__list { justify-content: center; }

.slider { margin-left: auto; margin-right: auto; position: relative; overflow: hidden; list-style: none; padding: 0; z-index: 1; animation: fadeUp 1.5s ease-in-out; }

.slider__container { position: relative; width: 100%; height: 100%; z-index: 1; display: flex; transition-property: transform; box-sizing: content-box; }

.slider__member { height: calc(100vh - 95px); display: flex; justify-content: center; align-items: center; padding: 0 30px; }

.slider__member .member__article { border-left: 1px solid #ffffff; padding-left: 50px; margin: 0 50px; width: 450px; }

.slider__member .member__title { font-family: "Raleway-SemiBold"; font-size: 2rem; }

.slider__member .member__subtitle { font-family: "CrimsonText-Italic", serif; font-size: 1.5rem; margin: 15px 0; }

.slider__member .member__description { text-align: justify; }

.swiper-slide { flex-shrink: 0; position: relative; transition-property: transform; }

.swiper-container-3d { perspective: 1200px; }

.swiper-container-3d .swiper-slide, .swiper-container-3d .slider__container { transform-style: preserve-3d; }

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

body { line-height: 1; }

ol, ul { list-style: none; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }

table { border-collapse: collapse; border-spacing: 0; }

@font-face { font-family: Raleway-Light; src: url("./../fonts/Raleway-Light.woff") format("woff"), url("./../fonts/Raleway-Light.woff2") format("woff2"); font-weight: normal; font-style: normal; }

@font-face { font-family: Raleway-SemiBold; src: url("./../fonts/Raleway-SemiBold.woff") format("woff"), url("./../fonts/Raleway-SemiBold.woff2") format("woff2"); font-weight: normal; font-style: normal; }

@font-face { font-family: CrimsonText-Regular; src: url("./../fonts/CrimsonText-Regular.woff") format("woff"), url("./../fonts/CrimsonText-Regular.woff2") format("woff2"); font-weight: normal; font-style: normal; }

@font-face { font-family: CrimsonText-Italic; src: url("./../fonts/CrimsonText-Italic.woff") format("woff"), url("./../fonts/CrimsonText-Italic.woff2") format("woff2"); font-weight: normal; font-style: normal; }

@font-face { font-family: Linearicons-Free; src: url("./../fonts/Linearicons-Free.woff") format("woff"), url("./../fonts/Linearicons-Free.woff2") format("woff2"); font-weight: normal; font-style: normal; }

*, *:after, *:before { box-sizing: border-box; }

img { max-width: 100%; height: auto; }

body { font-family: "Raleway-Light", sans-serif; }

a { text-decoration: none; color: #ffffff; }

p { line-height: 1.5rem; }

.icon { font-family: "Linearicons-Free"; speak: none; font-variant: normal; text-transform: none; line-height: 1; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

.icon--sun::before { content: "\e807"; }

.icon--moon::before { content: "\e808"; }

.icon--menu::before { content: "\e871"; }

input, select, textarea, button { font-family: inherit; }

body { background-color: #000000; color: #ffffff; transition: 0.25s ease-in-out; }

a, button { cursor: pointer; transition: all 0.25s ease-in-out; }

@keyframes move { 0% { transform: translate(0px, 0px); }
  20% { transform: translate(-5px, 5px); }
  40% { transform: translate(0px, 0px); }
  60% { transform: translate(5px, -5px); }
  80% { transform: translate(0px, 0px); }
  100% { transform: translate(-5px, 5px); } }

@keyframes fadeUp { from { opacity: 0;
    transform: translateY(30px); }
  to { opacity: 1;
    transform: translateY(0); } }

.loading-screen { position: relative; padding-left: 0; padding-right: 0; padding-top: 0; background-color: black; width: 0%; height: 100%; }

.load-container { position: fixed; top: 0; left: 0; width: 100%; height: 100vh; overflow: hidden; z-index: 1000; pointer-events: none; }

.body--light { background-color: #ffffff !important; color: #000000 !important; }

.body--light .logo__plexus { filter: invert(1); }

.body--light .button { color: #000000; }

.body--light .member__article { border-color: #000000 !important; }

.body--light .form input, .body--light .form textarea { color: #000000 !important; }

.body--light .form__field { box-shadow: -10px 10px #000000 !important; border-color: #000000 !important; color: #000000 !important; background-color: #ffffff; }

.body--light .form__field:focus { box-shadow: -10px 10px #c4c4ac !important; }

.body--light .form__submit { color: #000000 !important; background-color: #ffffff !important; }

.body--light .form__submit:hover { color: #ffffff !important; background-color: #000000 !important; box-shadow: -10px 10px #c4c4ac !important; }

.preloader { height: 100vh; width: 100vw; background-color: #ffffff; top: 0; left: 0; overflow: hidden; position: fixed; z-index: 9999; }

.preloader__overlay { height: 100%; width: 100%; background-color: #000000; top: 0; left: 0; pointer-events: none; transform: translateY(-100%); position: absolute; z-index: 2; }

.preloader__container { display: none; flex-direction: column; justify-content: center; align-items: center; height: 100vh; width: 100vw; z-index: 3; }

.preloader__letters { display: flex; margin-right: auto; margin-left: auto; height: auto; }

.preloader__letters svg#left, .preloader__letters svg#right { width: 150px; height: 150px; }

.preloader__letters div#x { margin: 0 -30px; width: 150px; height: 150px; }

.preloader__animation { background-color: black; height: 100%; transform: translateX(-100%); position: fixed; top: 0; width: 100%; z-index: 9000; }

.preloader #left, .preloader #right { width: 150px; height: 150px; fill: black; }

@media screen and (max-width: 992px) { .opreloader__overlay { height: 100%; width: 100%; top: 0; left: 0; background-color: #000000; pointer-events: none; position: absolute; transform: translateY(-100%); } }

.header { background-color: #000000; padding: 20px; transition: 0.25s ease-in-out; }

.header__item--logo { width: 150px; }

.header__list { display: flex; justify-content: space-between; align-items: center; }

.header__switcher { display: flex; }

.header__switcher .switcher__icon { font-size: 1.5rem; margin: 0 10px; }

.header__switcher .switcher__dark--text, .header__switcher .switcher__light--text { opacity: 0; transform: translateY(5px); transition: 0.25s ease-in-out; }

.header__switcher .switcher__dark:hover .switcher__dark--text, .header__switcher .switcher__light:hover .switcher__light--text { opacity: 1; transform: translateY(0); }

.header__switcher .switcher__dark, .header__switcher .switcher__light { display: flex; align-items: center; color: #c4c4ac; cursor: pointer; }

.header__item--menu { font-size: 2rem; color: #c4c4ac; }

.header:hover { background-color: #ffffff; }

.header:hover .header__item--logo { filter: invert(1); }

.body--home .header__list { justify-content: center; }

.contact { height: calc(100vh - 82px); display: flex; flex-direction: column; justify-content: center; align-items: center; animation: fadeUp 1.5s ease-in-out; }

.contact__title { font-family: "Raleway-SemiBold"; font-size: 2rem; }

.contact__form { display: flex; flex-direction: column; max-width: 300px; margin-top: 50px; }

.contact__form input, .contact__form textarea { border: none; color: #ffffff; background-color: #000000; font-size: 1.2rem; padding: 10px; }

.contact__form .form__field { box-shadow: -10px 10px #ffffff; border: 1px solid #ffffff; margin: 20px 0; transition: all 0.25s ease-in-out; }

.contact__form .form__field:focus { box-shadow: -10px 10px #c4c4ac; color: #000000; background-color: #ffffff; }

.contact__form .form__submit { font-family: "CrimsonText-Regular", serif; font-size: 1.3rem; border: 1px solid #ffffff; color: #ffffff; background-color: #000000; padding: 10px; }

.contact__form .form__submit:hover { color: #000000; background-color: #ffffff; letter-spacing: 2px; box-shadow: -10px 10px #c4c4ac; }
