/* http://meyerweb.com/eric/tools/css/reset/ v2.0 | 20110126 License: none (public domain) */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

body { line-height: 1; }

ol, ul { list-style: none; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }

table { border-collapse: collapse; border-spacing: 0; }

@font-face { font-family: Roboto-Thin; src: url("./../fonts/Roboto-Thin.woff") format("woff"), url("./../fonts/Roboto-Thin.woff2") format("woff2"); font-weight: normal; font-style: normal; }

@font-face { font-family: Roboto-Light; src: url("./../fonts/Roboto-Light.woff") format("woff"), url("./../fonts/Roboto-Light.woff2") format("woff2"); font-weight: normal; font-style: normal; }

@font-face { font-family: Raleway-SemiBold; src: url("./../fonts/Raleway-SemiBold.woff") format("woff"), url("./../fonts/Raleway-SemiBold.woff2") format("woff2"); font-weight: normal; font-style: normal; }

@font-face { font-family: CrimsonText-Regular; src: url("./../fonts/CrimsonText-Regular.woff") format("woff"), url("./../fonts/CrimsonText-Regular.woff2") format("woff2"); font-weight: normal; font-style: normal; }

@font-face { font-family: CrimsonText-Italic; src: url("./../fonts/CrimsonText-Italic.woff") format("woff"), url("./../fonts/CrimsonText-Italic.woff2") format("woff2"); font-weight: normal; font-style: normal; }

@font-face { font-family: Linearicons-Free; src: url("./../fonts/Linearicons-Free.woff") format("woff"), url("./../fonts/Linearicons-Free.woff2") format("woff2"); font-weight: normal; font-style: normal; }

*, *:after, *:before { box-sizing: border-box; }

img { max-width: 100%; height: auto; }

body { font-family: "Roboto-Light", sans-serif; }

a { text-decoration: none; color: #f3f3f3; }

p { line-height: 1.5rem; }

.title { font-family: "Raleway-SemiBold"; font-size: 2rem; }

.icon { font-family: "Linearicons-Free"; speak: none; font-variant: normal; text-transform: none; line-height: 1; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

.icon--sun::before { content: "\e807"; }

.icon--moon::before { content: "\e808"; }

.icon--menu::before { content: "\e871"; }

.icon--code::before { content: "\e86a"; }

.icon--layers::before { content: "\e88e"; }

.icon--screen::before { content: "\e839"; }

.icon--pencil::before { content: "\e802"; }

.icon--magnifier::before { content: "\e86f"; }

.icon--arrow-left:before { content: "\e879"; }

.icon--arrow-right:before { content: "\e87a"; }

.icon--arrow-right-circle:before { content: "\e886"; }

.icon--chevron-left:before { content: "\e875"; }

.icon--chevron-right:before { content: "\e876"; }

input, select, textarea, button { font-family: inherit; }

body { background-color: #111111; color: #f3f3f3; transition: 0.25s ease-in-out; }

bodyMenu--open { overflow: hidden; }

a, button { cursor: pointer; }

.button { display: inline-flex; position: relative; font-family: "CrimsonText-Regular", serif; font-size: 1.2rem; border: 1px solid #f3f3f3; color: #f3f3f3; background-color: #111111; padding: 1.2rem 2.4rem; align-self: flex-start; transform: perspective(1px) translateZ(0); transition: 0.25s ease-in-out; }

.button:before { content: ""; position: absolute; z-index: -1; top: 0; right: 0; bottom: 0; left: 0; background-color: #f3f3f3; transform: scaleY(0); transform-origin: 50% 100%; transition: transform 0.25s ease-in-out; }

.button:hover, .button:focus, .button:active { color: #111111; }

.button:hover:before, .button:focus:before, .button:active:before { transform: scaleY(1); }

[data-barba="wrapper"] { transition: 0.25s ease-in-out; }

[data-barba="wrapper"].blur { pointer-events: none; filter: blur(10px); }

.loadingScreen { position: fixed; top: 0; left: 0; height: 100vh; width: 100%; overflow: hidden; z-index: 1000; pointer-events: none; }

.loadingScreen__overlay { position: relative; height: 100%; width: 0%; display: flex; justify-content: center; align-items: center; background-color: #111111; }

.loadingScreen__icon { height: 80px; }

@media screen and (min-width: 992px) { .loadingScreen__icon { height: 125px; } }

@keyframes move { 0% { transform: translate(0px, 0px); }
  20% { transform: translate(-5px, 5px); }
  40% { transform: translate(0px, 0px); }
  60% { transform: translate(5px, -5px); }
  80% { transform: translate(0px, 0px); }
  100% { transform: translate(-5px, 5px); } }

@keyframes fadeUp { 0% { opacity: 0;
    transform: translateY(30px); }
  50% { opacity: 0;
    transform: translateY(30px); }
  100% { opacity: 1;
    transform: translateY(0); } }

.body--light { background-color: #f3f3f3 !important; color: #111111 !important; }

.body--light .header { background-color: #f3f3f3 !important; }

.body--light .header__item--logo { filter: invert(1); }

.body--light .header .menu__burger span { background: #111111; }

.body--light .header .menu__burger--open span { background: #f3f3f3; }

.body--light .logo__plexus, .body--light .logo__lines { filter: invert(1); }

.body--light .button { border-color: #111111; color: #111111; background-color: #f3f3f3; }

.body--light .button:before { background-color: #111111; }

.body--light .button:hover, .body--light .button:focus, .body--light .button:active { color: #f3f3f3; }

.body--light .caption .title > a { color: #111111; }

.body--light .caption__button { color: #111111; }

.body--light .caption__button .icon--arrow-right { color: #111111; }

.body--light .captions__list { background-image: url("./../img/accueil/illustration_accueil_light_1.png"), url("./../img/accueil/illustration_accueil_light_2.png"), url("./../img/accueil/illustration_accueil_light_3.png"), url("./../img/accueil/illustration_accueil_light_4.png"); }

@media screen and (min-width: 992px) { .body--light .captions__list .caption::after { background: #111111 !important; } }

.body--light .agency { background-color: #f3f3f3; }

.body--light .agency__image { background-image: url("./../img/agence/equipe_agence_plexus_light.png"); }

.body--light .projects__item:nth-child(odd) { border-top: 1px solid #111111; border-bottom: 1px solid #111111; }

.body--light .projects__item:nth-child(even) { border-bottom: 1px solid #111111; }

.body--light .projects__link { color: #111111; }

@media screen and (min-width: 768px) { .body--light .projects__link { color: transparent; -webkit-text-stroke: 1px #111111; } }

.body--light .projects__image { box-shadow: 0 0 25px rgba(0, 0, 0, 0.2); }

.body--light .projects .repeat { color: #111111; mix-blend-mode: inherit; }

.body--light .contact__form input, .body--light .contact__form textarea { color: #111111 !important; }

.body--light .contact__form .form__field { box-shadow: -7px 7px #111111 !important; border-color: #111111 !important; color: #111111 !important; background-color: #f3f3f3; }

.body--light .contact__form .form__field:focus { box-shadow: -7px 7px #c4c4ac !important; }

.body--light .contact__form .form__submit { color: #111111 !important; background-color: #f3f3f3 !important; }

.body--light .contact__form .form__submit:hover { color: #f3f3f3 !important; background-color: #111111 !important; box-shadow: -7px 7px #c4c4ac !important; }

.body--light .contact__address a { color: #111111; }

@media screen and (min-width: 992px) { .body--light .contact__address { border-color: #111111; } }

.body--light .legal__article a { color: #111111; }

.preloader { height: 100vh; width: 100vw; background-color: white; top: 0; left: 0; overflow: hidden; position: fixed; z-index: 9999; }

.preloader__overlay { height: 100%; width: 100%; background-color: #111111; top: 0; left: 0; pointer-events: none; transform: translateY(-100%); position: absolute; z-index: 2; }

.preloader__container { display: none; flex-direction: column; justify-content: center; align-items: center; height: 100vh; width: 100vw; z-index: 3; }

.preloader__letters { display: flex; justify-content: center; align-items: center; }

.preloader__letters #left, .preloader__letters #right { height: 80px; width: 80px; }

@media screen and (min-width: 768px) { .preloader__letters #left, .preloader__letters #right { height: 150px; width: 150px; } }

.preloader__letters #x { height: 80px; width: 80px; margin: 0 -15px; }

@media screen and (min-width: 768px) { .preloader__letters #x { height: 150px; width: 150px; margin: -25px; } }

.preloader__animation { background-color: #111111; height: 100%; transform: translateX(-100%); position: fixed; top: 0; width: 100%; z-index: 9000; }

.header { background-color: #111111; padding: 0 2vw; transition: 0.25s ease-in-out; }

.header__item--logo { width: 90px; transition: 0.25s ease-in-out; }

@media screen and (min-width: 576px) { .header__item--logo { width: 150px; } }

@media screen and (min-width: 992px) { .header__item--logo { width: 200px; } }

.header__list { position: relative; display: flex; height: 10vh; justify-content: space-between; align-items: center; }

.header__switcher { position: absolute; top: 50%; left: 50%; transform: translateX(-50%) translateY(-50%); display: flex; }

.header__switcher .switcher__icon { font-size: 1.5rem; margin: 0 10px; }

.header__switcher .switcher__dark--text, .header__switcher .switcher__light--text { font-family: "Roboto-Thin", sans-serif; opacity: 0; transform: translateY(5px); transition: 0.25s ease-in-out; }

@media screen and (min-width: 576px) { .header__switcher .switcher__dark:hover .switcher__dark--text, .header__switcher .switcher__light:hover .switcher__light--text { opacity: 1; transform: translateY(0); } }

.header__switcher .switcher__dark, .header__switcher .switcher__light { display: flex; align-items: center; color: #c4c4ac; cursor: pointer; }

.header .menu__burger { height: 20px; width: 30px; position: relative; cursor: pointer; z-index: 20; transition: 0.5s ease-in-out; }

.header .menu__burger span { height: 2px; width: 100%; position: absolute; background: #f3f3f3; left: 0; opacity: 1; transition: .25s ease-in-out; }

.header .menu__burger span:nth-child(1) { top: 0; transform-origin: left center; }

.header .menu__burger span:nth-child(2) { top: 10px; transform-origin: left center; }

.header .menu__burger span:nth-child(3) { top: 20px; transform-origin: left center; }

.header .menu__burger--open span:nth-child(1) { transform: rotate(45deg); }

.header .menu__burger--open span:nth-child(2) { width: 0%; opacity: 0; }

.header .menu__burger--open span:nth-child(3) { transform: rotate(-45deg); }

.menuRight { display: flex; flex-direction: column; justify-content: space-between; height: 100vh; position: fixed; background: #333333; top: 0; right: 0; bottom: 0; z-index: 10; transform: translateX(100%); transition-duration: 0.5s; overflow: hidden; width: 100vw; }

@media screen and (min-width: 480px) { .menuRight { width: 275px; } }

@media screen and (min-width: 576px) { .menuRight { width: 300px; } }

.menuRight__list { margin-top: 10vh; }

.menuRight__item { font-family: "Roboto-Thin", sans-serif; font-size: 1.75rem; line-height: 2; text-align: left; color: #f3f3f3; opacity: 0; transform: translateX(50px); transition: 0.25s ease-in-out; }

.menuRight__item div { transition: 0.25s ease-in-out; }

.menuRight__item div a { display: inline-flex; width: 100%; padding: 0 3vh; transition: 0.25s ease-in-out; }

.menuRight__footer { padding: 2vh 0; opacity: 0; transition: 0.5s ease-in-out; }

.menuRight__footer .footer__list { display: flex; justify-content: center; }

.menuRight__footer .footer__item { font-family: "Roboto-Thin", sans-serif; font-size: 0.9rem; color: #f3f3f3; }

@media screen and (min-width: 768px) { .menuRight__footer .footer__item { font-size: initial; } }

.menuRight__footer .footer__item--separator { margin: 0 10px; }

.menuRight--open { transform: translateX(0); overflow: hidden; }

.menuRight--open .menuRight__item { opacity: 1; transform: translateX(0); transition-delay: 0.2s; }

.menuRight--open .menuRight__item:first-child { transition-delay: 0.35s; }

.menuRight--open .menuRight__item:nth-child(2) { transition-delay: 0.5s; }

.menuRight--open .menuRight__item:nth-child(3) { transition-delay: 0.65s; }

.menuRight--open .menuRight__item:nth-child(4) { transition-delay: 0.8s; }

.menuRight--open .menuRight__item:last-child { transition-delay: 0.95s; }

.menuRight--open .menuRight__item div:hover { background: #c4c4ac; }

.menuRight--open .menuRight__item div:hover a { color: #333333; transform: translateX(20px); }

.menuRight--open .menuRight__footer { opacity: 1; transition-delay: 1.3s; }

main { animation: fadeUp 2s ease-in-out 0s forwards 1; }

@media screen and (min-width: 1200px) { main { height: 90vh; position: relative; overflow: hidden; } }

.logo__plexus { display: none !important; }

@media screen and (min-width: 1200px) { .logo__plexus { z-index: 1 !important; display: initial !important; position: absolute !important; left: 50% !important; top: 50% !important; transform: translateX(-50%) translateY(-50%) !important; height: 80px !important; } }

@media screen and (min-width: 1500px) { .logo__plexus { height: 115px !important; } }

.logo__lines { display: none; }

@media screen and (min-width: 1200px) { .logo__lines { z-index: 1 !important; display: initial !important; position: absolute !important; left: 50% !important; top: 50% !important; transform: translateX(-50%) translateY(-50%) !important; height: 200px !important; } }

@media screen and (min-width: 1500px) { .logo__lines { height: 275px !important; } }

.logo__baseline { display: none; }

@media screen and (min-width: 1500px) { .logo__baseline { z-index: 1 !important; display: initial !important; position: absolute !important; left: 50% !important; top: calc(50% + 70px) !important; transform: translateX(-50%) !important; font-size: 0.85rem; text-transform: uppercase; letter-spacing: 8px; } }

.captions__list { padding: 4vh; position: inherit !important; display: inherit !important; left: inherit !important; top: inherit !important; background-image: url("./../img/accueil/illustration_accueil_1.png"), url("./../img/accueil/illustration_accueil_2.png"), url("./../img/accueil/illustration_accueil_3.png"), url("./../img/accueil/illustration_accueil_4.png"); background-position: top 10vh left, top 65vh right, bottom 65vh left, bottom 0vh right; background-size: 310px; background-repeat: no-repeat; }

@media screen and (min-width: 768px) { .captions__list { padding: 8vh; } }

@media screen and (min-width: 1200px) { .captions__list { height: 100%; display: grid !important; grid-template-columns: 50% 50% !important; } }

@media screen and (min-width: 350px) { .captions__list { background-position: top 10vh left, top 60vh right, bottom 55vh left, bottom -5vh right; background-size: 330px; } }

@media screen and (min-width: 480px) { .captions__list { background-position: top 0 left, top 50vh right -5vw, bottom 45vh left, bottom -15vh right -5vw; background-size: 370px; } }

@media screen and (min-width: 576px) { .captions__list { background-position: top 0 left, top 45vh right -5vw, bottom 45vh left, bottom -15vh right -5vw; background-size: 420px; } }

@media screen and (min-width: 768px) { .captions__list { background-position: top 0 left, top 55vh right -5vw, bottom 60vh left, bottom -10vh right -5vw; background-size: 450px; } }

@media screen and (min-width: 992px) { .captions__list { background-position: top 0 left, top 45vh right -4vw, bottom 50vh left, bottom -20vh right -5vw; background-size: 470px; } }

@media screen and (min-width: 1200px) { .captions__list { background-position: top -5vh left, top -5vh right -4vw, bottom -5vh right, bottom -5vh left -5vw; background-size: 530px; width: 105vw; } }

@media screen and (min-width: 1500px) { .captions__list { background-position: top -5vh left, top -10vh right -4vw, bottom -10vh right, bottom -30vh left -5vw; background-size: 650px; } }

.captions__list .caption__item { margin: 16vh 0; }

.captions__list .caption__item:nth-child(even) .caption { text-align: right; }

@media screen and (min-width: 768px) { .captions__list .caption__item:nth-child(even) { margin: 16vh 0 16vh auto; } }

@media screen and (min-width: 1200px) { .captions__list .caption__item:nth-child(even) { margin: initial; } }

@media screen and (min-width: 576px) { .captions__list .caption__item { width: 75%; margin: 16vh auto; } }

@media screen and (min-width: 768px) { .captions__list .caption__item { display: flex; width: 50%; margin: 16vh 0; } }

@media screen and (min-width: 1200px) { .captions__list .caption__item { width: initial; margin: auto; } }

@media screen and (min-width: 1200px) { .captions__list .caption { margin: auto; max-width: 375px; } }

.captions__list .caption .title > a { transition: 0.5s ease-in-out !important; }

.captions__list .caption__pretitle { font-family: "CrimsonText-Italic", serif; font-size: 1.5rem; display: inline-flex; margin-bottom: 1vh; }

.captions__list .caption__description { margin: 2vh 0; }

.captions__list .caption__button { display: inline-flex; align-items: center; font-family: "CrimsonText-Regular", serif; font-size: 1.5rem; transition: all 0.25s ease-in-out !important; }

.captions__list .caption__button .icon--arrow-right { font-size: 1.4rem; opacity: 0; transition: all 0.25s ease-in-out; }

.captions__list .caption__button:hover .icon--arrow-right { opacity: 1; transform: translateX(10px); }

.agency { background-color: #111111; animation: fadeUp 2s ease-in-out 0s forwards 1; }

@media screen and (min-width: 1200px) { .agency { display: grid !important; grid-template-columns: 50% 50% !important; } }

.agency__image { background-image: url("./../img/agence/equipe_agence_plexus.png"); background-position: center; background-size: cover; background-repeat: no-repeat; height: 77vh; display: flex; align-items: flex-end; }

@media screen and (min-width: 1200px) { .agency__image { height: inherit; } }

@media screen and (min-width: 1500px) { .agency__image { height: 90vh; } }

.agency__article { display: flex; flex-direction: column; justify-content: center; transition: 0.25s ease-in-out; padding: 5vh 4vh; }

@media screen and (min-width: 1500px) { .agency__article { align-items: center; } }

@media screen and (min-width: 1500px) { .agency__article a { margin: 0 auto; } }

.skill__list { margin-bottom: 3vh; }

@media screen and (min-width: 1500px) { .skill__list { max-width: 750px; } }

@media screen and (min-width: 768px) { .skill__list { display: flex; flex-wrap: wrap; } }

@media screen and (min-width: 1200px) { .skill__list { display: initial; flex-wrap: unset; } }

@media screen and (min-width: 1500px) { .skill__list { display: flex; flex-wrap: wrap; } }

.skill__list .skill { margin: 4vh 0; }

@media screen and (min-width: 768px) { .skill__list .skill { flex: 1 1 50%; } }

@media screen and (min-width: 1500px) { .skill__list .skill { flex: 1 1 50%; } }

@media screen and (min-width: 768px) { .skill__list .skill:first-child, .skill__list .skill:nth-child(3) { padding-right: 4vh; } }

@media screen and (min-width: 1200px) { .skill__list .skill:first-child, .skill__list .skill:nth-child(3) { padding-right: 0; } }

@media screen and (min-width: 1500px) { .skill__list .skill:first-child, .skill__list .skill:nth-child(3) { padding-right: 4vh; } }

@media screen and (min-width: 768px) { .skill__list .skill:nth-child(2), .skill__list .skill:last-child { padding-left: 4vh; } }

@media screen and (min-width: 1200px) { .skill__list .skill:nth-child(2), .skill__list .skill:last-child { padding-left: 0; } }

@media screen and (min-width: 1500px) { .skill__list .skill:nth-child(2), .skill__list .skill:last-child { padding-left: 4vh; } }

.skill__list .skill__icon { color: #c4c4ac; font-size: 2rem; }

.skill__list .skill__title { font-family: "Raleway-SemiBold"; font-size: 1.1rem; text-transform: uppercase; letter-spacing: 2px; padding: 2vh 0; }

.skill__list .skill p { line-height: 1.75; }

.slider { margin-left: auto; margin-right: auto; position: relative; overflow: hidden; list-style: none; padding: 0; z-index: 1; animation: fadeUp 2s ease-in-out 0s forwards 1; }

.slider__container { position: relative; width: 100%; height: 100%; z-index: 1; display: flex; transition-property: transform; box-sizing: content-box; }

.slider__member { display: flex; flex-direction: column; align-items: center; }

@media screen and (min-width: 768px) { .slider__member { height: 80vh; flex-direction: row; justify-content: center; align-items: center; } }

.slider__member .member__image { transition: 1s; }

@media screen and (min-width: 576px) { .slider__member .member__image { padding-top: 10vh; width: 60vw; } }

@media screen and (min-width: 768px) { .slider__member .member__image { padding: 0; height: 50%; width: unset; } }

.slider__member .member__article { padding: 5vh 4vh; transition: 0.5s; }

@media screen and (min-width: 576px) { .slider__member .member__article { width: 60vw; padding: 5vh 0 10vh 0; } }

@media screen and (min-width: 768px) { .slider__member .member__article { width: 50%; padding: 0; padding-left: 5vw; } }

@media screen and (min-width: 1500px) { .slider__member .member__article { max-width: 750px; } }

.slider__member .member__subtitle { font-family: "CrimsonText-Italic", serif; font-size: 1.5rem; margin: 2vh 0; }

.slider__member .member__description { margin-bottom: 5vh; }

.slider__member .member__description br { display: flex; content: ""; margin-bottom: 2vh; }

.slider__controls { height: 10vh; display: flex; justify-content: center; align-items: center; z-index: 10; }

.swiper-slide { flex-shrink: 0; position: relative; transition-property: transform; }

.swiper-slide:not(.swiper-slide.swiper-slide-active) .member__image { opacity: 0.25; }

.swiper-slide:not(.swiper-slide.swiper-slide-active) .member__article { opacity: 0; }

.swiper-container-3d { perspective: 1200px; }

.swiper-container-3d .swiper-slide, .swiper-container-3d .slider__container { transform-style: preserve-3d; }

.swiper-button-prev, .swiper-button-next { cursor: pointer; font-size: 1.75rem; opacity: 0.75; transition: all 0.25s ease-in-out; }

.swiper-button-prev:hover, .swiper-button-next:hover { opacity: 1; }

.swiper-button-prev.swiper-button-disabled, .swiper-button-next.swiper-button-disabled { cursor: auto; pointer-events: none; }

.swiper-pagination { font-size: 1.1rem; text-align: center; margin: 0 50px; transform: translate3d(0, 0, 0); transition: 300ms opacity; }

.swiper-pagination.swiper-pagination-hidden { opacity: 0; }

.projects { height: 90vh; display: flex; flex-direction: column; justify-content: center; overflow: hidden; animation: fadeUp 2s ease-in-out 0s forwards 1; }

.projects__list { --offset: 20vw; --move-initial: calc(-25% + var(--offset)); --move-final: calc(-50% + var(--offset)); }

.projects__item { position: relative; padding: 0 6vw; }

.projects__item:nth-child(odd) { border-top: 1px solid #f3f3f3; border-bottom: 1px solid #f3f3f3; }

.projects__item:nth-child(even) { border-bottom: 1px solid #f3f3f3; }

.projects__link { position: relative; font-family: "Raleway-SemiBold"; display: inline-flex; cursor: pointer; font-size: 7vw; line-height: 3; color: #f3f3f3; white-space: nowrap; padding: 0 1vw; transition: opacity 0.4s; }

@media screen and (min-width: 768px) { .projects__link { line-height: 2; color: transparent; -webkit-text-stroke: 1px #f3f3f3; } }

@media screen and (min-width: 1200px) { .projects__link { font-size: 6vw; } }

.projects__link::before { all: initial; position: absolute; bottom: 60%; left: 0; pointer-events: none; }

@media screen and (min-width: 768px) { .projects__link:hover { transition-duration: 0.1s; opacity: 0; }
  .projects__link:hover + .projects__image { opacity: 1; transform: translate3d(calc(-100% - 6vw), -30%, 0) rotate3d(0, 0, 1, 4deg); transition: all 0.4s; }
  .projects__link:hover ~ .repeat .repeat__list { opacity: 1; animation-play-state: running; transition-duration: 0.4s; } }

.projects__image { position: absolute; left: 100%; top: 25%; height: 35vh; max-height: 400px; pointer-events: none; opacity: 0; transform: translate3d(calc(-100% - 6vw), -30%, 0) translate3d(0, 20px, 0); }

.projects .repeat { position: absolute; top: 0; left: 0; overflow: hidden; color: #f3f3f3; pointer-events: none; mix-blend-mode: difference; }

.projects .repeat__list { display: flex; position: relative; width: fit-content; opacity: 0; transition: opacity 0.1s; animation: repeat 5s linear infinite; animation-play-state: paused; }

.projects .repeat__item { font-family: "Raleway-SemiBold"; font-size: 7vw; font-style: italic; line-height: 3; white-space: nowrap; padding: 0 1vw; }

@media screen and (min-width: 1200px) { .projects .repeat__item { font-size: 6vw; } }

@media screen and (min-width: 768px) { .projects .repeat__item { line-height: 2; } }

@keyframes repeat { 0% { transform: translate3d(var(--move-initial), 0, 0); }
  100% { transform: translate3d(var(--move-final), 0, 0); } }

.contact { animation: fadeUp 2s ease-in-out 0s forwards 1; }

@media screen and (min-width: 992px) { .contact { height: 90vh; display: flex; justify-content: center; align-items: center; } }

.contact__form { display: flex; flex-direction: column; align-items: center; padding: 5vh; }

@media screen and (min-width: 992px) { .contact__form { padding: 10vh; } }

.contact__form form { display: flex; flex-direction: column; margin-top: 5vh; }

.contact__form input, .contact__form textarea { border: none; color: #f3f3f3; background-color: #111111; font-size: 1.2rem; padding: 10px; }

.contact__form .form__field { max-width: 80vw; box-shadow: -7px 7px #f3f3f3; border: 1px solid #f3f3f3; margin: 3vh 0; transition: all 0.25s ease-in-out; }

@media screen and (min-width: 576px) { .contact__form .form__field { max-width: 50vw; } }

@media screen and (min-width: 1500px) { .contact__form .form__field { max-width: 35vw; } }

.contact__form .form__field:focus { box-shadow: -7px 7px #c4c4ac; color: #111111; background-color: #f3f3f3; }

.contact__form .form__submit { margin: 3vh auto; }

.contact__form .form__submit:hover { box-shadow: -7px 7px #c4c4ac; }

.contact__address { display: flex; flex-direction: column; align-items: center; padding: 5vh; }

@media screen and (min-width: 992px) { .contact__address { padding: 10vh; border-left: 1px solid #f3f3f3; } }

.contact__address .address__list { text-align: center; margin-top: 5vh; }

.contact__address .address__item { margin: 2vh 0; }

.contact__address .address__item:last-child { margin: 6vh 0; }

.legal { padding: 5vh; animation: fadeUp 2s ease-in-out 0s forwards 1; }

.legal h1 { text-align: center; }

.legal__article { margin-top: 8vh; }

.legal__article h2 { margin: 4vh 0; }

.legal__article p { font-size: 1.2rem; line-height: 1.5; margin-bottom: 2vh; }

.legal__article ul { margin-left: 5vw; margin-bottom: 5vh; }

.legal__article li { list-style: disc; font-size: 1.2rem; margin-bottom: 1vh; }

.legal__article a { font-weight: 600; transition: 0.5s ease-in-out !important; }

.error { height: 90vh; display: flex; flex-direction: column; justify-content: center; align-items: center; animation: fadeUp 2s ease-in-out 0s forwards 1; }

.error__caption { font-size: 1.2rem; text-align: center; margin: 3vh 0; }

.error__button { margin: 0 auto; }
