$fonts: Roboto-Thin Roboto-Regular Raleway-SemiBold CrimsonText-Regular CrimsonText-Italic Linearicons-Free;

@each $font in $fonts {
    @font-face {
        font-family: $font;
        src: url("./../fonts/#{$font}.woff") format("woff"),
        url("./../fonts/#{$font}.woff2") format("woff2");
        font-weight: normal;
        font-style: normal;
    }
}