.agency {
    @include x-large {
        @include split;
    }

    background-color: $white;
    // background-color: #333333;
    animation: fadeUp 2s ease-in-out 0s forwards 1;

    &__image {
        background-image: url('./../img/agence/equipe_agence_plexus.png');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: calc(100vh - 72px);

        @include x-large {
            height: inherit;
        }

        @include xx-large {
            height: calc(100vh - 72px);
        }

        display: flex;
        align-items: flex-end;
    }

    &__article {
        display: flex;
        flex-direction: column;
        justify-content: center;

        @include xx-large {
            align-items: center;
        }

        background-color: $black;
        padding: 5vh 4vh;

        a {
            @include xx-large {
                margin: 0 auto;
            }
        }
    }
}