.captions__list {
    padding: 4vh;
    position: inherit !important;
    display: inherit !important;
    left: inherit !important;
    top: inherit !important;

    @include medium {
        padding: 8vh;
    }

    @include x-large {
        height: 100%;
        @include split;
    }

    background-image: url('./../img/accueil/illustration_accueil_1.png'),
    url('./../img/accueil/illustration_accueil_2.png'),
    url('./../img/accueil/illustration_accueil_3.png'),
    url('./../img/accueil/illustration_accueil_4.png');
    background-position: top 10vh left,
    top 65vh right,
    bottom 65vh left,
    bottom 0vh right;
    background-size: 310px;

    @include xx-small {
        background-position: top 10vh left,
            top 60vh right,
            bottom 55vh left,
            bottom -5vh right;
        background-size: 330px;
    }

    @include x-small {
        background-position: top 0 left,
            top 50vh right -5vw,
            bottom 45vh left,
            bottom -15vh right -5vw;
        background-size: 370px;
    }

    @include small {
        background-position: top 0 left,
            top 45vh right -5vw,
            bottom 45vh left,
            bottom -15vh right -5vw;
        background-size: 420px;
    }

    @include medium {
        background-position: top 0 left,
            top 55vh right -5vw,
            bottom 60vh left,
            bottom -10vh right -5vw;
        background-size: 450px;
    }

    @include large {
        background-position:
            top 0 left,
            top 45vh right -4vw,
            bottom 50vh left,
            bottom -20vh right -5vw;
        background-size: 470px;
    }

    @include x-large {
        background-position:
            top -5vh left,
            top -5vh right -4vw,
            bottom -5vh right,
            bottom -5vh left -5vw;
        background-size: 530px;
    }

    @include xx-large {
        background-position:
            top -5vh left,
            top -10vh right -4vw,
            bottom -10vh right,
            bottom -30vh left -5vw;
        background-size: 650px;
    }

    background-repeat: no-repeat;

    .caption__item {
        margin: 16vh 0;

        &:nth-child(even) {
            .caption {
                text-align: right;
            }

            @include medium {
                margin: 16vh 0 16vh auto;
            }

            @include x-large {
                margin: initial;
            }
        }

        @include small {
            width: 75%;
            margin: 16vh auto;
        }

        @include medium {
            display: flex;
            width: 50%;
            margin: 16vh 0;
        }

        @include x-large {
            width: initial;
            margin: auto;
        }
    }

    .caption {

        @include x-large {
            margin: auto;
            max-width: 375px;
            position: relative;
        }

        .title>a {
            transition: 0.5s ease-in-out !important;
        }

        &__pretitle {
            font-family: $italic-serif-font;
            font-size: 1.5rem;
            display: inline-flex;
            margin-bottom: 1vh;
        }

        &__description {
            margin: 2vh 0;
        }

        &__button {
            display: inline-flex;
            align-items: center;
            font-family: $serif-font;
            font-size: 1.5rem;
            transition: all 0.25s ease-in-out !important;

            .icon--arrow-right {
                font-size: 1.4rem;
                opacity: 0;
                transition: all 0.25s ease-in-out;
            }

            &:hover {
                .icon--arrow-right {
                    opacity: 1;
                    transform: translateX(10px);
                }
            }
        }
    }

    @include x-large {
        &>.caption {
            &--agency {
                &>.caption {

                    &::after {
                        content: "";
                        position: absolute;
                        background: $white;
                        height: 1px;
                        width: 150px;
                        bottom: 0;
                        right: 75px;
                        transform: rotate(30deg);
                    }
                }
            }

            &--members {
                &>.caption {

                    &::after {
                        content: "";
                        position: absolute;
                        background: $white;
                        height: 1px;
                        width: 150px;
                        bottom: 0;
                        left: -50px;
                        transform: rotate(-30deg);
                    }
                }
            }

            &--projects {
                &>.caption {
                    &::after {
                        content: "";
                        position: absolute;
                        background: $white;
                        height: 1px;
                        width: 130px;
                        top: 0;
                        right: 75px;
                        transform: rotate(-22deg);
                    }
                }
            }

            &--contact {
                &>.caption {
                    &::after {
                        content: "";
                        position: absolute;
                        background: $white;
                        height: 1px;
                        width: 200px;
                        top: 0;
                        left: -50px;
                        transform: rotate(22deg);
                    }
                }
            }
        }
    }
}