.error {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: fadeUp 2s ease-in-out 0s forwards 1;

    &__caption {
        font-size: 1.2rem;
        text-align: center;
        margin: 3vh 0;
    }

    &__button {
        margin: 0 auto;
    }
}