.contact {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: fadeUp 2s ease-in-out 0s forwards 1;

    &__form {
        display: flex;
        flex-direction: column;
        margin-top: 3vh;

        input,
        textarea {
            border: none;
            color: $white;
            background-color: $black;
            font-size: 1.2rem;
            padding: 10px;
        }

        .form {

            &__field {
                max-width: 80vw;

                @include small {
                    max-width: 50vw;
                }

                @include xx-large {
                    max-width: 35vw;
                }

                box-shadow: -10px 10px $white;
                border: 1px solid $white;
                margin: 3vh 0;
                transition: all 0.25s ease-in-out;

                &:focus {
                    box-shadow: -10px 10px $beige;
                    color: $black;
                    background-color: $white;
                }
            }

            &__submit {
                margin: 3vh auto;

                &:hover {
                    box-shadow: -10px 10px $beige;
                }
            }
        }
    }
}