main {
    animation: fadeUp 2s ease-in-out 0s forwards 1;

    @include x-large {
        height: 90vh;
        position: relative;
        overflow: hidden;
    }
}

.logo__plexus {
    display: none !important;

    @include x-large {
        z-index: 1 !important;
        display: initial !important;
        position: absolute !important;
        left: 50% !important;
        top: 50% !important;
        transform: translateX(-50%) translateY(-50%) !important;
        height: 80px !important;
    }

    @include xx-large {
        height: 115px !important;
    }
}

.logo__lines {
    display: none;

    @include x-large {
        z-index: 1 !important;
        display: initial !important;
        position: absolute !important;
        left: 50% !important;
        top: 50% !important;
        transform: translateX(-50%) translateY(-50%) !important;
        height: 200px !important;
    }

    @include xx-large {
        height: 275px !important;
    }
}

.logo__baseline {
    display: none;

    @include xx-large {
        z-index: 1 !important;
        display: initial !important;
        position: absolute !important;
        left: calc(50% + 5px) !important;
        top: calc(50% + 80px) !important;
        transform: translateX(-50%) !important;
        font-size: 0.9rem;
        text-transform: uppercase;
        letter-spacing: 11px;
    }
}