main {
    @include large {
        height: 90vh;
        position: relative;
    }
}

.logo__plexus {
    display: none;

    @include large {
        z-index: 1 !important;
        display: initial !important;
        position: absolute !important;
        left: 50% !important;
        top: 50% !important;
        transform: translateX(-50%) translateY(-50%) !important;
        height: 115px !important;
    }
}