.preloader {
    height: 100vh;
    width: 100vw;
    background-color: white;
    top: 0;
    left: 0;
    overflow: hidden;
    position: fixed;
    z-index: 9999;

    &__overlay {
        height: 100%;
        width: 100%;
        background-color: $black;
        top: 0;
        left: 0;
        pointer-events: none;
        transform: translateY(-100%);
        position: absolute;
        z-index: 2;
    }

    &__container {
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        width: 100vw;
        z-index: 3;
    }

    &__letters {
        display: flex;
        justify-content: center;
        align-items: center;

        #left,
        #right {
            height: 80px;
            width: 80px;

            @include medium {
                height: 150px;
                width: 150px;
            }
        }

        #x {
            height: 80px;
            width: 80px;
            margin: 0 -15px;

            @include medium {
                height: 150px;
                width: 150px;
                margin: -25px;
            }
        }
    }


    &__animation {
        background-color: $black;
        height: 100%;
        transform: translateX(-100%);
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 9000;
    }
}