.skill__list {
    margin-bottom: 3vh;

    @include xx-large {
        max-width: 750px;
    }

    @include medium {
        display: flex;
        flex-wrap: wrap;
    }

    @include x-large {
        display: initial;
        flex-wrap: unset;
    }

    @include xx-large {
        display: flex;
        flex-wrap: wrap;
    }

    .skill {
        margin: 4vh 0;

        @include medium {
            flex: 1 1 50%;
        }

        @include xx-large {
            flex: 1 1 50%;
        }

        &:first-child,
        &:nth-child(3) {
            @include medium {
                padding-right: 4vh;
            }

            @include x-large {
                padding-right: 0;
            }

            @include xx-large {
                padding-right: 4vh;
            }
        }

        &:nth-child(2),
        &:last-child {
            @include medium {
                padding-left: 4vh;
            }

            @include x-large {
                padding-left: 0;
            }

            @include xx-large {
                padding-left: 4vh;
            }
        }

        &__icon {
            color: $beige;
            font-size: 2rem;
        }

        &__title {
            font-family: $title-font;
            font-size: 1.1rem;
            text-transform: uppercase;
            letter-spacing: 2px;
            padding: 2vh 0;
        }

        p {
            line-height: 1.75;
        }
    }
}