.skill__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 800px;
    margin-bottom: 30px;

    .skill {
        flex: 1 1 40%;
        margin: 25px 25px 25px 0;

        &:last-of-type {
            margin: 15px 15px 15px 7.5px;
        }

        &__icon {
            color: $beige;
            font-size: 2rem;
        }

        &__title {
            font-family: $title-font;
            font-size: 1.1rem;
            text-transform: uppercase;
            letter-spacing: 2px;
            padding: 15px 0 10px 0;
        }

        p {
            line-height: 1.75rem;
        }
    }
}